<div class="searc_block">
    <div class="search_input">
        <h1>
            Write username
        </h1>
        <mat-form-field>
            <input matInput placeholder="Write username" [(ngModel)]="uname" [minlength]="minLength" (ngModelChange)="onChangeEmit()">
            <mat-error>
                Min Length is {{ minLength }} . Now it is {{ uname.length}}

            </mat-error>
        </mat-form-field>

    </div>
    <mat-card class="card" *ngIf="isLoaded">
        <mat-card-header>

            <mat-card-title>{{user.name}}</mat-card-title>
            <mat-card-subtitle>{{user.location}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="user.avatar_url" alt="">
        <mat-card-content>
            <ul>
                <li>
                    public_repos : {{user.public_repos}}
                </li>
                <li>
                    public_gists : {{user.public_gists}}
                </li>
                <li>
                    followers : {{user.followers}}
                </li>
                <li>
                    following : {{user.following}}
                </li>
                <li>
                    created_at : {{user.created_at}}
                </li>
            </ul>
        </mat-card-content>
        <mat-card-actions class="center">
            <a target="_blank" mat-raised-button color="warn" [href]="user.html_url">View profile</a>

        </mat-card-actions>
    </mat-card>

</div>
<div class="footer">

    <h3> Contact information:
        <a href="https://www.facebook.com/ard.mag">
            <img class="img" src="https://image.flaticon.com/icons/svg/174/174848.svg" alt="facebook">
        </a>
        <a href="https://www.linkedin.com/feed/">
            <img class="img" src="https://image.flaticon.com/icons/svg/174/174857.svg" alt="linkedin"></a>


        <a href="https://github.com/artyomnersisyan86"> <img class="img" src="https://image.flaticon.com/icons/svg/25/25657.svg" alt="github"></a>

    </h3>

    <h4> © 2019 Copyright: <a href="https://mail.google.com/mail/u/0/#inbox"> artyom.nersisyan86@gmail.com</a></h4>


    <!-- Copyright -->



</div>